$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

//IMPORTACAO DE FONTES
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,700|Oswald:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Graduate&display=swap');

@font-face {
    font-family: "Octin College";
    src: url("../fonts/octin_college_rg.ttf");
}

@font-face {
    font-family: "Octin Bold";
    src: url("../fonts/Octin_College_Bold.ttf");
}

$Graduate: 'Graduate', cursive;

$amarelo: #F6D351;
$gold: #CBA749;
$cinza: #404041;
$preto: #121212;
$branco:#FFFFFF;
$cinzinha: #C4C4C4;