a {
    &:focus,
    &:active {
        outline: initial;
        box-shadow: initial;
    }
    span{
        color: $preto;
    }
    &:hover {       
            text-decoration: none;
    }
}

.menu-span,
.box-header {
    font-family: $Graduate;
}

#carousel-noticias .flickity-page-dots {
    text-align: left;
    .dot {
        background-color: #404041 !important;
        opacity: 1;
        &.is-selected {
            background-color: white !important;
        }
    }
}

#parkbeer {
    h3 {
        font-family: "Octin Bold";
    }
    .box-parkbeer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 380px;
    }
}

.box-header {
    bottom: -55px;
    img {
        max-width: 55px;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (min-width: $xs) {
    h1,
    h2 {
        font-family: Octin Bold;
        font-size: 28px;
        line-height: 32px;
    }
    h3 {
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 36px;
        text-transform: uppercase;
    }
    h4 {
        font-family: Octin College;
        font-size: 28px;
        line-height: 32px;
        text-transform: uppercase;
    }
    p {
        font-family: "Exo 2", sans-serif;
        font-size: 16px;
        line-height: 19px;
    }
    .bold {
        font-weight: bold;
    }
    .upper {
        text-transform: uppercase;
    }
    #fullpage {
        section {
            .row {
                padding: 80px 0px;
            }
        }
    }
    #maiormenor {
        .row {
            min-height: 100vh;
        }
        background: url(../../src/img/maior/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .btn {
            font-family: Octin College;
            padding: 16px;
            width: 152px;
            font-size: 16px;
            line-height: 19px;
            margin-right: 24px;
            &:hover {
                background: $amarelo;
                color: $branco !important;
            }
        }
        img {
            height: 96px;
            margin-top: 150px;
        }
    }
    .menor {
        background-image: url(../../src/img/maior/menor-b.png) !important;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat !important;
    }
    #header {
        padding: 0;
        background-color: black;
        background-size: cover;
        .row {
            min-height: 100vh;
        }
        .arraste {
            position: absolute;
            bottom: -90px;
            left: calc(50% - 37px);
        }
        .header-cell {
            width: 100%;
            height: calc(100vh);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            &.banner-1 {
                background-image: url(../../src/img/banners/mobile/bg-1.jpg);
            }
            &.banner-2 {
                background-image: url(../../src/img/banners/mobile/bg-2.jpg);
            }
            &.banner-3 {
                background-image: url(../../src/img/banners/mobile/bg-3.jpg);
            }
            &.banner-4 {
                background-image: url(../../src/img/banners/mobile/bg-4.jpg);
            }
        }
        .flickity-page-dots {
            bottom: 135px;
            .dot {
                opacity: 1;
                background: #535353;
            }
            .is-selected {
                background: $amarelo;
            }
        }
        .flickity-button {
            background: transparent;
            color: $amarelo;
            display: none;
        }
    }
    #one {
        background-image: url(../../src/img/banners/mobile/banner-one.png);
        background-size: cover;
    }
    #parkbeer {
        background: url(../../src/img/banners/lg/morcegos.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #onebeer {
        background-image: url(../../src/img/banners/mobile/onebeer.jpg);
    }
    #twobeer {
        background-image: url(../../src/img/banners/mobile/twobeer.jpg);
    }
    #threebeer {
        background-image: url(../../src/img/banners/mobile/threebeer.jpg);
    }
    #fourbeer {
        background-image: url(../../src/img/banners/mobile/fourbeer.jpg);
    }
    #fivebeer {
        background-image: url(../../src/img/banners/mobile/fivebeer.jpg);
    }
    #sixbeer {
        background-image: url(../../src/img/banners/mobile/sixbeer.jpg);
    }
    #lager {
        background-image: url(../../src/img/banners/mobile/lager.jpg);
    }
    #onebeer,
    #twobeer,
    #threebeer,
    #fourbeer,
    #fivebeer,
    #sixbeer,
    #lager {
        background-size: cover;
        background-position: center;
        img {
            margin-right: 16px;
        }
        .row {
            min-height: 120vh;
            height: auto;
        }
    }
    #seven {
        padding: 48px 0;
        .row {
            min-height: 100vh;
            height: auto;
        }
        .card-parks {
            .floripa {
                background: url(../../src/img/cards/florianopolis.png);
            }
            .floripa_dipraia {
                background: url(../../src/img/cards/floripa_dipraia.png);
            }
            .brasilia {
                background: url(../../src/img/cards/brasilia.png);
            }
            .bh {
                background: url(../../src/img/cards/bh.png);
            }
            .sp {
                background: url(../../src/img/cards/sp.png);
            }
            .surfhouse {
                background: url(../../src/img/cards/surfhouse.png);
            }
            .brewpub {
                background: url(../../src/img/cards/brewpub.png);
            }
            .breve {
                background: url(../../src/img/cards/breve.png);
            }

            margin-top: 24px;
            .img-card {
                background-position: center;
                background-size: cover;
                height: 176px;
            }
            .box-card {
                span {
                    font-family: Octin Bold;
                    font-size: 28px;
                    line-height: 32px;
                    margin-bottom: 24px;
                    display: block;
                    min-height: 64px;
                }
                padding-top: 24px;
                a {
                    color: white;
                    &:hover {
                        color: $amarelo;
                        text-decoration: none;
                    }
                }
            }
        }
        #carousel-parks {
            width: 100%;
        }
        .flickity-button {
            background: none;
            color: $amarelo;
        }
        .flickity-prev-next-button.next {
            right: -30px;
        }
        .flickity-prev-next-button.previous {
            left: -30px;
        }
        .flickity-page-dots {
            .dot {
                background: $amarelo;
            }
        }
    }
    #eight {
        background: black;
        padding: 64px 0;
    }
    #curtimos {
        background: black;
        img {
            margin-top: -110px;
        }
    }
    #nine {
        background-repeat: no-repeat;
        background-image: url(../../src/img/banners/lg/bg-associados.jpg);
        background-size: cover;
        img {
            box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
            border-radius: 14px;
        }
        #carousel-cards {
            .flickity-viewport {
                width: 100%;
            }
            .flickity-slider {
                display: flex;
            }
            .flickity-page-dots .dot {
                background: #fff;
            }
        }
    }
    #ten {
        .row {
            min-height: 100vh;
            height: auto;
        }
        .card-noticias {
            margin: 0 -15px;
            margin-top: 24px;
            .img-card {
                background-image: url(../../src/img/cards/noticias.png);
                background-size: cover;
                height: 247px;
            }
            div {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .blog-1 {
                background-image: url(../../src/img/blog/blog-1.png);
            }
            .blog-2 {
                background-image: url(../../src/img/blog/blog-2.png);
            }
            .blog-3 {
                background-image: url(../../src/img/blog/blog-3.png);
            }
            .box-card {
                padding: 24px 0;
                span {
                    font-family: Octin Bold;
                    font-size: 28px;
                    line-height: 32px;
                }
                p {
                    margin-top: 16px;
                }
                a {
                    color: $preto;
                    font-weight: bold;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        #carousel-noticias:after {
            content: "";
        }
        .flickity-button {
            background: none;
            color: $amarelo;
        }
        .flickity-page-dots {
            .dot {
                background: $amarelo;
            }
        }
    }
    #eleven {
        .row {
            height: 324px !important;
            min-height: 324px !important;
        }
        .bg-insta {
            background: url(../../src/img/banners/mobile/insta.jpg);
            background-size: cover;
            background-position: center;
            a {
                color: $preto;
                font-weight: bold;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .insta {
            background: $amarelo;
            width: min-content;
            padding: 12px 28px;
            transition: 0.5s;
            &:hover {
                color: $cinza;
                background: $branco;
            }
        }
    }
    #footer {
        .container-fluid.bgc-amarelo{
            .row{
                min-height: 0vh;
            }
        }
        li {
            display: block;
            margin-bottom: 16px;
            a {
                font-size: 16px;
                color: $amarelo;
                text-transform: capitalize;
                &:hover {
                    text-decoration: none;
                    color: white;
                }
            }
        }
        .row {
            height: auto;
            min-height: 100vh;
        }
        .min-vh-auto {
            min-height: auto !important;
        }
        img {
            margin-right: 16px;
        }
    }
    #header-post {
        .row {
            height: 496px;
            background: $preto;
        }
    }
    #blog-post {
        h3 {
            font-family: Octin Bold;
            font-size: 24px;
            line-height: 28px;
        }
        .post-image {
            background: url(../../src/img/blog/img-post.png);
            background-position: center;
            background-size: cover;
            height: 282px;
            margin-top: -138px;
            margin-bottom: 40px;
        }
        .redes {
            img {
                margin-right: 24px;
            }
        }
        hr {
            background: $preto;
        }
        .card-noticias {
            margin: 0 -15px;
            margin-top: 24px;
            .img-card {
                background-image: url(../../src/img/cards/noticias.png);
                background-size: cover;
                height: 247px;
            }
            .box-card {
                padding: 24px 0;
                span {
                    font-family: Octin Bold;
                    font-size: 28px;
                    line-height: 32px;
                }
                p {
                    margin-top: 16px;
                }
                a {
                    color: $preto;
                    font-weight: bold;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    #error-404 {
        background-image: url(../../src/img/404/bg-404-M.svg);
        background-repeat: no-repeat;
        background-position: center 80px;
        background-size: cover;
        .row {
            height: 100vh;
            min-height: 100vh;
        }
    }
    #carousel-mobile-onebeer,
    #carousel-mobile-twobeer,
    #carousel-mobile-threebeer,
    #carousel-mobile-fourbeer,
    #carousel-mobile-fivebeer,
    #carousel-mobile-sixbeer,
    #carousel-mobile-lager{
        position: relative;
        .box-carousel {
            padding: 160px 15px;
        }
        .flickity-page-dots {
            bottom: 48px;
            .dot {
                background-color: #8B8B8B;
                &.is-selected {
                    background: $amarelo;
                }
            }
        }
        .box-gradient {
            background: linear-gradient(90deg, #000000 -119.83%, rgba(0, 0, 0, 0) 127.5%);
            &:after {
                content: '';
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: -1;
            }
        }
    }
    .postthumb{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    #navblog{
        background: white !important;
    }

    .card-image{
        position: relative;
        width: 100%;
        height: 236px;
        overflow: hidden;
        img{    
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 100%;
            height: auto;
        }
    }
    .card-text{
        position: relative;
    }

     #fullpageblog{
        position: relative;
        top: 90px;
     }
     #searchpageblog{
        position: relative;
        top: 90px;
     }
     #carouselblog{
        .carousel-cell{
            width: 100%;
            height: 392px;
            color: $preto;
        }
     }

}

@media screen and (max-width: 390px) {
    #maiormenor .btn {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    #header .banner-2 .br-none {
        display: block;
    }
}

@media screen and (min-width: 391px) {
    #header .banner-2 .br-none {
        display: none;
    }
}

@media screen and (min-width: $sm) {}

@media screen and (min-width: $md) {}

@media screen and (min-width: $lg) {
    h1,
    h2 {
        font-size: 40px;
        line-height: 46px;
    }
    h3 {
        font-size: 32px;
        line-height: 47px;
    }
    h4 {
        font-family: Octin College;
        font-size: 36px;
        line-height: 42px;
    }
    p {
        font-size: 18px;
        line-height: 22px;
    }
    .menor {
        background-image: url(../../src/img/maior/menor.jpg) !important;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat !important;
    }
    #header {
        h1 {
            font-size: 56px;
            line-height: 65px;
        }
        .arraste {
            bottom: -50px;
        }
        .header-cell {
            width: 100%;
            height: calc(100vh);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            &.banner-1 {
                background-image: url(../../src/img/banners/lg/bg-1.jpg);
            }
            &.banner-2 {
                background-image: url(../../src/img/banners/lg/bg-2.jpg);
            }
            &.banner-3 {
                background-image: url(../../src/img/banners/lg/bg-3.jpg);
            }
            &.banner-4 {
                background-image: url(../../src/img/banners/lg/bg-4.jpg);
            }
        }
        .flickity-button {
            display: block;
        }
    }
    section {
        .row {
            padding: 100px 0;
        }
    }
    #one {
        background-image: url(../../src/img/banners/lg/banner-one.png);
        .row {
            min-height: 950px;
        }
    }
    #carousel-parks {
    display: flex;
    flex-wrap: wrap;
    }
    #onebeer,
    #threebeer,
    #fivebeer,
    #twobeer,
    #fourbeer,
    #sixbeer,
    #lager {
        img {
            margin-right: 16px;
        }
    }
    #onebeer {
        background-image: url(../../src/img/banners/lg/onebeer.jpg);
    }
    #twobeer {
        background-image: url(../../src/img/banners/lg/twobeer.jpg);
    }
    #threebeer {
        background-image: url(../../src/img/banners/lg/threebeer.jpg);
    }
    #fourbeer {
        background-image: url(../../src/img/banners/lg/fourbeer.jpg);
    }
    #fivebeer {
        background-image: url(../../src/img/banners/lg/fivebeer.jpg);
    }
    #sixbeer {
        background-image: url(../../src/img/banners/lg/sixbeer.jpg);
    }
    #lager {
        background-image: url(../../src/img/banners/lg/lager.jpg);
    }
    #seven {
        padding: 0px;
        .card-parks {
            margin: auto;
            margin-top: 56px;
        }
        .flickity-button,
        .flickity-page-dots {
            display: none;
        }
    }
    #eight {
        padding: 0;
    }
    #nine {
        #carousel-cards {
            .flickity-page-dots .dot {
                background: transparent;
            }
        }
    }
    #ten {
        padding: 0;
        #carousel-noticias:after {
            content: "flickity";
            display: none;
        }
        .card-noticias {
            margin: auto;
            margin-top: 56px;
        }
    }
    #eleven {
        .bg-insta {
            background: url(../../src/img/banners/lg/insta.jpg);
            background-size: cover;
        }
        .input-group {
            margin-top: 50px;
        }
        .bg-inscreva {
            background-size: 440px 192px;
        }
    }
    #header-post {
        height: 611px;
        background: $preto;
    }
    #footer {
        padding: 0;
    }
    #blog-post {
        .post-image {
            background: url(../../src/img/blog/img-post.png);
            background-position: center;
            background-size: cover;
            height: 472px;
            margin-top: -216px;
            margin-bottom: 40px;
        }
        .card-noticias {
            margin: auto;
            margin-top: 56px;
        }
    }
    #error-404 {
        background-size: contain;
        background-position: center 101px;
        .col-lg-8 {
            img {
                width: 50%;
            }
        }
    }
    #curtimos {
        background-image: url(../../src/img/banners/lg/bg-estilo-layback.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: 80px 0px;
        .row {
            min-height: 620px;
        }
    }

    #fullpageblog{
        top: 0px;
        .section{
            &.two {
                .row{
                    flex-direction: row-reverse;
                }
            }
        }
    }

    #collapseblog{
                ul{
                    position: relative;
                    li{
                        margin: 0px 16px;
                    }
                }
    }
    .postthumb{
        height: 500px;
        margin-bottom: 0px;
    }

    .section.one:nth-child(1)::after{
        content: '';
            background-image: url(../../src/img/patterns/listra-horizonte.svg);
            background-repeat: no-repeat;
            background-position-x: right;
            background-position-y: top;
            position: absolute;
            top: 100px;
            z-index: -1;
            width: 100%;
            height: 20%;
    }
    .section.one:nth-child(3)::before{
            content: '';
            background-image: url(../../src/img/patterns/listra-vertical.svg);
            background-repeat: no-repeat;
            background-position-x: left;
            background-position-y: bottom;
            position: absolute;
            top: 970px;
            width: 100%;
            height: 30%;
            z-index: -1;
    }

    #searchpageblog{
        position: relative;
        top: 90px;
     }


    .card-text{
        margin-top: 0.5rem;
        h2{
            font-size: 28px;
            line-height: 29px;
            font-weight: bold;
            margin-top: 0.5rem;
        }
        small{
            font-weight: bold;
        }
    }

    #singlepage{
            &::after{
            content: '';
            background-image: url(../../src/img/patterns/listrasingle.svg);
            background-repeat: no-repeat;
            width: 11%;
            height: 16%;
            top: 134px;
            right: 0;
            position: absolute;
            z-index: -1;
        }
        &::before{
            content: '';
            background-image: url(../../src/img/patterns/listrasingle.svg);
            background-repeat: no-repeat;
            width: 11%;
            height: 16%;
            top: 134px;
            position: absolute;
            z-index: -1;
        }
    }
    #footer .container-fluid:nth-child(1){
            .container{
                position: relative;
                &::before{
                    content: '';
                    background-image: url(../../src/img/patterns/listradireitanews.svg);
                    background-repeat: no-repeat;
                    width: 29%;
                    height: 45%;
                    position: absolute;
                    bottom: 0%;
                    left: -1%;
                }
                &::after{
                    content: '';
                    background-image: url(../../src/img/patterns/listraesquerdanews.svg);
                    background-repeat: no-repeat;
                    width: 26%;
                    height: 45%;
                    position: absolute;
                    bottom: 0%;
                    right: -1%;
                    z-index: 0;
                }
                .col-sm-7{
                    z-index: 1;
                }
            }   
    }
        
}

@media screen and (min-width: $xl) {
    #curtimos {
        background-size: 100%;
        .row {
            min-height: 1145px;
        }
    }
}

@media screen and (min-width: 1600px) {
    #curtimos {
        background-position: center right;
    }
}


#open{
    border: 0px;
    background: white;
    background-image: url(../../src/img/icons/lupa.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    position: relative;
    top: 5px;
    transition: .5s;
}
#searchsubmit{
    display: none;
    border: 0px;
    background: white;
    background-image: url(../../src/img/icons/lupa.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    position: relative;
    top: 10px;
    right: 200px;
    z-index: 1;
    transition: 1s;
}

#close {
    position: relative;
	top: 10px;
    right: 5px;
	transition: .5s;
    z-index: 5;
    background-image: url(../../src/img/icons/icon_close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    box-shadow: none;
    border: 0px;
}

#s{
	display: none;
	position: absolute;
    right: 10px;
    top: 8px;
}
